/***************************************************************************
// Authors:  Stuart Peters, Hoang (Eric) Truong, Linda Wallace
// Date:    February 15, 2019
// Purpose:  
//
// Requirements:
// 
//************************************************************************* */


/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
    margin:0;
    padding: 0;
}
body{
    overflow: hidden;
    margin: 0;
  }
  .box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #772B39;
  }
  
  .grid {
    position: relative;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px;
    width: 400px;
    height: 450px;
    margin: auto;
  }
  
  .col1-row1 > .triangle {
    border-bottom: 100px solid transparent;
    border-right: 100px solid #ff0024;
    transform: rotate(90deg);
  }
  
  .col2-row1 > .triangle {
    border-bottom: 100px solid transparent;
    border-left: 100px solid #ff3e74;
    transform: rotate(-90deg);
  }
  
  .col3-row1 > .triangle {
    border-bottom: 100px solid transparent;
    border-right: 100px solid #ff6e82;
    transform: rotate(90deg);
  }
  
  .col4-row1 > .triangle {
    border-bottom: 100px solid transparent;
    border-left: 100px solid #fdd8de;
    transform: rotate(-90deg);
  }
  
  .col1-row2 > .triangle {
    border-bottom: 50px solid #ff3e74;
    border-right: 50px solid #ff3e74;
    border-top: 50px solid #ff6e81;
    border-left: 50px solid #ff6e81;
    transform: rotate(90deg);
  }
  
  .col2-row2 > .triangle {
    border-bottom: 50px solid #ff0024;
    border-right: 50px solid #ff0024;
    border-top: 50px solid #fdd7de;
    border-left: 50px solid #fdd7de;
    transform: rotate(180deg);
  }
  
  .col3-row2 > .triangle {
    border-bottom: 50px solid #ff0023;
    border-right: 50px solid #ff0023;
    border-top: 50px solid #ff3e74;
    border-left: 50px solid #ff3e74;
    transform: rotate(90deg);
  }
  
  .col4-row2 > .triangle {
    border-bottom: 50px solid #ff6d81;
    border-right: 50px solid #ff6d81;
    border-top: 50px solid #ff0024;
    border-left: 50px solid #ff0024;
    transform: rotate(180deg);
  }
  
  .col1-row3 > .triangle {
    border-bottom: 100px solid transparent;
    border-left: 100px solid #fdd8de;
    transform: rotate(90deg);
  }
  
  .col2-row3 > .triangle {
    border-bottom: 50px solid #ff3c73;
    border-right: 50px solid #ff3c73;
    border-top: 50px solid #ff6e82;
    border-left: 50px solid #ff6e82;
    transform: rotate(180deg);
  }
  
  .col3-row3 > .triangle {
    border-bottom: 50px solid #fdd8de;
    border-right: 50px solid #fdd8de;
    border-top: 50px solid #ff6e81;
    border-left: 50px solid #ff6e81;
    transform: rotate(90deg);
  }
  
  .col4-row3 > .triangle {
    border-bottom: 100px solid transparent;
    border-left: 100px solid #ff3e74;
    transform: rotate(0deg);
  }
  
  .col2-row4 > .triangle {
    border-bottom: 100px solid transparent;
    border-right: 100px solid #ff0024;
    transform: rotate(0deg);
  }
  
  .col3-row4 > .triangle {
    border-bottom: 100px solid transparent;
    border-right: 100px solid #ff3d74;
    transform: rotate(270deg);
  }
  .text{
    position: absolute;
    top: 40%;
    color: #fff;
    font-size: 40px;
    font-family: 'Felipa', cursive;
    perspective: 400;
    code, [data-char="x"]{
      font-size: 18px;
    }
  }

.exploreImage h1,.exploreImage p{
    font-family:"Segoe UI";
    position: absolute;
    color: white;
    text-shadow: 2px 2px 5px #000000;
    left: 15%;
    z-index: 2;
}
.exploreImage h1{
    font-size: 9vh;
    top: 35%;
}
.exploreImage p{
    font-size: 4vh;
    width: 60vw;
    top: 55%;
}
.slidebtn {
	z-index:4;
	background:transparent;
	outline:none;
	border:none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	padding:0 10px 0 10px;
}

.slidebtn:active,
.slidedtn:focus {
    outline:none;
}
	
.slidebtn i {
	color:#FFF;
	font-size:10vh;
	opacity: 0.2;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;

}
.slidebtn i:hover,.slider-dots:hover{
    opacity: 1;
}
.prev {
    position: absolute; 
    top: 10px; 
    left: 10px; 
    bottom: 10px;
}
/* **********************************Header Home Styling Ends*************************************** */




/* ***************************************************************************************** */
/* FOOTER styling */
footer{
    position: relative;
    bottom: 0;
    margin: 0;
    left: 0;
    height: 25vh;
    width: 100%;
    background-color: black;
    color: white;
    font-family: "Segoe UI";
}
p.copyright,div.brandSocialMedia,p.footNumber,a.emailFooter{
    position: absolute;
}
p.copyright,a.emailFooter,p.footNumber{
    font-size: 3vh;
}
p.copyright{
    text-transform: capitalize;
    left: 9%;
    top: 36%;
}
div.socIcon{
    display: inline-block;
    margin: 3px;
    cursor: pointer;
}
/* **********************************FooterStyling Ends*************************************** */


/* ************************************************************************************************* */
/* MAIN CONTENT STYLING */
main{
    position: relative;
}

/* ---------------------------------------- HOME STYLING -------------------------------*/
.homeContent{
    padding-top: 35vh;
}
.homeHotDeals{
    font-family: 'Segoe UI';
    font-size: 8vh;
    color: white;
    position: absolute;
    left: 5%;
    top: 3%;
    text-shadow: -2px 1px 2px rgba(255, 255, 255, 0.64);
}
.hotDealBg{
    background-size: 105% 115%;
    background-repeat: no-repeat;
}
.priceTag{
    width: 12%;
    height: 32%;
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(104,3,26,1) 33%, rgba(253, 8, 8, 0.7) 100%);
    clip-path: polygon(0 0, 100% 0, 100% 66%, 50% 100%, 1% 66%);
    box-shadow: 14px 14px 20px 7px rgba(0,0,0,0.87);   
    left: 5%;
    position: relative; 
}
.cost{
    font-family:"Segoe UI",Frutiger;
    color: white;
    position: absolute;
}
.oldPrice{
    font-size: 3.7vh;
}
.newPrice{
    font-size: 4.6vh;
}
.oldCost{
    left: 38%;
    top: 23%;
    color: rgb(151, 151, 151);
}
.saleCost{
    left: 15%;;
    top: 39%;
    color: rgb(49, 252, 49);
}
.perPerson{
    font-size: 60%;
    left: 42%;;
    top: 59%;
}

/* Text Messages display */
.whiteText{
    color: white;
}
.textBoard{
    width: 70%;
    height: 76%;
    background-color: rgba(0,0,0,0.85);
    border-radius: 15px;
    left: 23%;
    top: 15%;
    position: absolute;
}
.packageDescription, .packageTimeframe, .review, .subDescription, .salePackageTitle{
    font-family:"Segoe UI",Frutiger;
    position: absolute;
    left: 9%;
    text-shadow: 4px 4px 5px #000000;
}
.salePackageTitle{
    font-weight: 600;
    font-size: 9vh;
    top: 3%;
}
.subDescription{
    font-weight: 300;
    font-size: 4.5vh;
    top: 20%;
    left: 11%;
}
.star{
    display: inline-block;
    margin-right: 1%;
}
.styleStar{
    color: rgb(255, 224, 46);
}
.reviews{
    position: absolute;
    font-family:"Segoe UI",Frutiger;
    text-decoration: none;
    font-weight: 300;
    font-size: 2.5vh;
    color: #37C197;
    top: 34%;
    left: 30%;
}
.reviews:hover{
    color: rgb(0, 255, 179);
}
    left: 0;
    position: relative;
    width: 100%;
    height: 30vh;
    background-color: black;
    color: white;
}
h1.dealsTitle{
    font-family: 'Segoe UI';
    font-size: 5vh;
    font-weight: 300;
    position: absolute;
    left: 5%;
    top: 2%;  
}

.packagesDisplayWrapper{
    position: relative;
    margin: 15vh auto 5vh auto;
    width: 95vw;
    height: 110vh;
    padding-left: 2.5%;
    overflow: auto;
}

form.packageItem{
    margin: 2% 1% 2% 1%;
    display: inline-flex;
    font-family: 'Segoe UI';
    width: 30%;
    height: 88%;
    background-color: white;
    position: relative;
    border-radius: 15px;
    border: 1px solid rgba(0,0,0,0.7); 
}
.packagesDisplayWrapper::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}
.packagesDisplayWrapper::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.973);
    border-radius: 25px;
} 
div.packageImage{
    z-index: 0;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 50%;
    position: absolute;
    top: 0;
    left:0;
    background-size: cover;
    background-position: center;
}
div.packageTag{
    width: 35%;
    height: 45%;
    position: absolute;
    left: 55%;
    top: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgb(82, 0, 0) 33%33%, rgb(192, 2, 2) 63%, rgba(255, 0, 0, 0.7) 100%);
    clip-path: polygon(0 0, 100% 0, 100% 66%, 50% 100%, 1% 66%);
}
p.costTag, .tagPer{
    font-size: 2.5vh;
    font-weight: 300;
    color: white;
    position: absolute;
}





/* ***************************************************************************************************** */
/* STYLING CONTACT PAGE */
div.mainContact{
    width: 100%;
    height: auto;
    padding-top: 14vh;
    background-color: rgb(31, 21, 21);
}
h1.contactTitle{
    font-family: 'Segoe UI';
    font-size: 10vh;
    font-weight: 700;
    left: 5%;
    top: 2%;
    margin: 4vh 0 0 10vw;  
}
div.positionPic{
    width: 35vw;
    position: relative;
    width: 30vw;
    height: 30vh;
    float: right;
    margin-right: 5vw;
}

div.agencyPic{
    background-size: cover;
    background-position: center;
    width: 30vw;
    height: 30vh;
    border-radius: 15px;
    position: absolute;
}
div.whiteBox{
    background-color: white;
    width:30vh;
    height: 30vh;
    border-radius: 10% 0 10% 50%;
    position: absolute;
    top: -10%;
    left: 58%;
}
h1.cityTitle{
    position: absolute;
    font-size: 9vh;
    transform: translate(-50%,-50%);
    top: 90%;
    left: 50%;
    text-shadow: 1px 6px 14px #000000;
}
div.AgencyContent{
    width: 100%;
    height: 50vh;
    margin: 15vh 0 5vh 0;
    position: relative;
}
div.address{
    position: absolute;
    font-weight: 700;
    font-size: 5vh;
    top: 70%;
    left: 68%;
}
h1.ourAgents{
    position: relative;
    font-size: 8vh;
    margin-left: 5vw;
    text-shadow: 1px 6px 14px #c5c1c1; 
}
table.agentsTable{
    font-size: 4vh;
    position: absolute;
    left: 8%;
    top: 25%;
}
tr.rowAgent{
    padding: 20px 0;
}
/* ***************************************************************************************************** */

/* ************************************************************************************************************************ */
/* Order Page Styling */
main.orderContent{
    padding-top: 14vh;
    width: 100%;
    height: 150vh;
    background-color: white;
}
div.wrapper{
    position: absolute;
    margin-left: 15px;
    padding: 20px;
    border: 5px solid black;
}

.label{
    float: left;
}

.input-box{
    position: relative;
    float: right;
    margin-right: 50px;
}

.descToCntrl{
    padding: 15px;
    margin-left: 20px;
}
img.orderButton{
    cursor: pointer;
}
/* *********************************************************************************************************************************** */

