/***************************************************************************
// Authors:  Stuart Peters, Hoang (Eric) Truong, Linda Wallace
// Date:    February 15, 2019
// Purpose:  
//
// Requirements:
// 
//************************************************************************* */


/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
    margin:0;
    padding: 0;
}


/* FOR TESTING */
body{
    background-color: black;
}
body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.973);
    border-radius: 25px;
    border: 2px solid white;
}
body::-webkit-scrollbar {
    width: 13px;
    background-color: #F5F5F5;
} 
.content{
    width: 100%;
    height: 88vh;
    background-color: blue;
    margin: 5vh 0px;
    position: relative;
}
.content:nth-child(2n){
    background-color: green;
}
/* FOR TESTING */



/* ********************************************************************************* */
/* Styling Navigation bar section */
nav {  
    /* Nav bar will always cover view width */
    width: 100%;
    /* Nav bar max width for large screen*/
    max-width: 2054px;
    /* If change bar height you will need to change relative height of all items within */
    height: 13vh;
    background-color: rgba(255,255,255,0.96);
    /* Set position relative as to position inner items freely contained within */
    position: fixed;
    z-index: 4;
    transition: all 2s linear;
}
.navItem{
    /* set all display items horizontal and position freely within bar */
    display: inline-block;
    position: absolute;
}
.shoppingCartLogoContainer{
    left: 90%;   
    top: 2.3vh; /*If change bar height this needs change*/
    position: relative;
}

.aboutLink, .contactLink, .dealsLink{
    font-family: "Segoe UI";
    font-size: 4vh; 
    text-decoration: none;
    color: black;
    font-weight: 600;
    text-align: center;
}
.aboutLink:hover, .contactLink:hover, .dealsLink:hover{
    text-decoration: underline;
}
.aboutLink{
    top: 20%;
    /* position item for proportional display */
    left:calc(252/2054*100vw);
}
.contactLink{
    top: 20%;
    /* position item for proportional display */
    left:calc(464/2054*100vw);
}
.dealsLink{
    top: 20%;
    /* position item for proportional display */
    left:calc(689/2054*100vw);
}
.brandLogo{
    background-image: url("../img/brandLogo/travelExpertLogo.png");
    background-size: cover;
    background-position: center;
    width: 12vw;
    height: 12vh;
    left: 47%;
    top: 6%;  /*Needs edit if bar height change*/
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.brandLogo:hover{
    background-image: url("../img/brandLogo/travelExpertLogoHover.png");
}
.signInButton:hover,.shoppingCartLogoContainer:hover,#barBox:hover{ /*Mouse Over the logo will be cursor*/
    cursor: pointer;
}
.signInButton{
    font-family: "Segoe UI Symbol";
    font-weight: 700;
    font-size: 4vh;
    text-align: center;
    color: white;
    background-color: black;
    border: none;
    border-radius: 8px;
    height: 8vh;
    width: 9vw;
    padding-bottom: 6px;
    padding-top: 0px;
    left: 70%;
    top: 16%;
}
/*Styling for Icon for more*/
.leftIconMore{
    position: fixed;
    width: 12vh;
    height: 12vh;
    left: 2%;
    z-index: 5;
    transition: all 0.8s linear;
}
/* inner box that contains the horizontal bars */
#barBox{
top: 50%;
left: 50%;
transform: translate(-50%,-60%);
position: relative;
/* change width the bars will stretch */
width: calc(75/160*100%);
/* change height the bars will space out */
height: calc(50/160*100%);
background-color: transparent;
transition: all 0.2s linear;
}
#bar1,#bar2,#bar3{
position: absolute;
width: 100%;
height: calc(9/50*100%);
background-color: black;  
border-radius: 1px;
}
#bar1{
top: 0%;
}
#bar2{
top: calc(20/50*100%);
}
#bar3{
bottom: 0%;
}

/* Number of item in cart selected */
.numItems{
    position: absolute;
    font-family:"Segoe UI";
    background-color: rgba(255, 217, 0, 0.719);
    color: black;
    font-size: 3vh;
    border-radius: 80%;
    top: -100%;
    left: 50%;
    padding: 0 1.5vh;
}
/* ***************************Nav Styling Ends****************************************** */




/* ***************************************************************************************** */
/* HEADER HOME styling */
.homeHeader{
    position: relative;
    width: 100%;
    height: 100vh;
}
.exploreImage{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.videoOverlay{
    position: absolute;
    opacity: 0.5;
    background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(0,0,0,1) 0%, rgba(89,89,89,1) 0%, rgba(75, 11, 27, 0.747) 0%, rgba(3,3,3,0.52) 69%, rgba(28,28,28,0.36) 91%, rgba(19,19,19,0.3) 100%);
}
.defaultImage{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('../img/homeExplore/dawnMountain.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
video.homeHeaderVideo{
    object-fit: fill;
    left: 0; 
    position: absolute;  
    width: 100% ; 
    height: auto;
}
.exploreImage h1,.exploreImage p{
    font-family:"Segoe UI";
    position: absolute;
    color: white;
    text-shadow: 2px 2px 5px #000000;
    left: 15%;
    z-index: 2;
}
.exploreImage h1{
    font-size: 9vh;
    top: 35%;
}
.exploreImage p{
    font-size: 4vh;
    width: 60vw;
    top: 55%;
}
.slidebtn {
	z-index:4;
	background:transparent;
	outline:none;
	border:none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	padding:0 10px 0 10px;
}

.slidebtn:active,
.slidedtn:focus {
    outline:none;
}
	
.slidebtn i {
	color:#FFF;
	font-size:10vh;
	opacity: 0.2;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;

}
.slidebtn i:hover,.slider-dots:hover{
    opacity: 1;
}
.prev {
    position: absolute; 
    top: 10px; 
    left: 10px; 
    bottom: 10px;
}
.next {
    position: absolute; 
    top: 10px; 
    right: 10px; 
    bottom: 10px;
}
.slider-dots {
	opacity: 0.2;
  list-style: none;
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
  position:absolute;
  left:50%;
  bottom:3%;
  transform: translate(-50%, 0);
  z-index:3;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.slider-dots li {
  color: #000;
  display: inline;
  font-size: 7vh;
  margin-right: 5px;
  cursor:pointer;
}
.slider-dots li.active-dot {
  color: #fff;
}
/* **********************************Header Home Styling Ends*************************************** */




/* ***************************************************************************************** */
/* FOOTER styling */
footer{
    position: relative;
    bottom: 0;
    margin: 0;
    left: 0;
    height: 25vh;
    width: 100%;
    background-color: black;
    color: white;
    font-family: "Segoe UI";
}
p.copyright,div.brandSocialMedia,p.footNumber,a.emailFooter{
    position: absolute;
}
p.copyright,a.emailFooter,p.footNumber{
    font-size: 3vh;
}
p.copyright{
    text-transform: capitalize;
    left: 9%;
    top: 36%;
}
div.socIcon{
    display: inline-block;
    margin: 3px;
    cursor: pointer;
}
div.brandSocialMedia{
    left: 70%;
    top: 23%;
}
a.emailFooter{
    text-decoration: none;
    color: white;
    left: 67%;
    top: 49%;
}
/* **********************************FooterStyling Ends*************************************** */


/* ************************************************************************************************* */
/* MAIN CONTENT STYLING */
main{
    position: relative;
}

/* ---------------------------------------- HOME STYLING -------------------------------*/
.homeContent{
    padding-top: 35vh;
}
.homeHotDeals{
    font-family: 'Segoe UI';
    font-size: 8vh;
    color: white;
    position: absolute;
    left: 5%;
    top: 3%;
    text-shadow: -2px 1px 2px rgba(255, 255, 255, 0.64);
}
.hotDealBg{
    background-size: 105% 108%;
    background-position: center;
}
.priceTag{
    width: 12%;
    height: 32%;
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(104,3,26,1) 33%, rgba(253, 8, 8, 0.7) 100%);
    clip-path: polygon(0 0, 100% 0, 100% 66%, 50% 100%, 1% 66%);
    box-shadow: 14px 14px 20px 7px rgba(0,0,0,0.87);   
    left: 5%;
    position: relative; 
}
.cost{
    font-family:"Segoe UI",Frutiger;
    color: white;
    position: absolute;
}
.oldPrice{
    font-size: 3.7vh;
}
.newPrice{
    font-size: 4.6vh;
}
.oldCost{
    left: 38%;
    top: 23%;
    color: rgb(151, 151, 151);
}
.saleCost{
    left: 15%;;
    top: 39%;
    color: rgb(49, 252, 49);
}
.perPerson{
    font-size: 60%;
    left: 42%;;
    top: 59%;
}

/* Text Messages display */
.whiteText{
    color: white;
}
.textBoard{
    width: 70%;
    height: 76%;
    background-color: rgba(0,0,0,0.85);
    border-radius: 15px;
    left: 23%;
    top: 15%;
    position: absolute;
}
.packageDescription, .packageTimeframe, .review, .subDescription, .salePackageTitle{
    font-family:"Segoe UI",Frutiger;
    position: absolute;
    left: 9%;
    text-shadow: 4px 4px 5px #000000;
}
.salePackageTitle{
    font-weight: 600;
    font-size: 9vh;
    top: 3%;
    cursor: pointer;
}
.salePackageTitle:hover{
    color: white;
    text-shadow: 4px 4px 10px rgba(202, 232, 241, 0.281);
}
.salePackageTitle:nth-child(2n):hover{
    color: white;
    text-shadow: 4px 4px 10px rgb(5, 119, 172);
}
.subDescription{
    font-weight: 300;
    font-size: 4.5vh;
    top: 20%;
    left: 11%;
}
.star{
    display: inline-block;
    margin-right: 1%;
}
.styleStar{
    color: rgb(255, 224, 46);
}
.reviews{
    position: absolute;
    font-family:"Segoe UI",Frutiger;
    text-decoration: none;
    font-weight: 300;
    font-size: 2.5vh;
    color: #37C197;
    top: 34%;
    left: 30%;
}
.reviews:hover{
    color: rgb(0, 255, 179);
}
.packageTimeframe{
    top: 46%;
    left: 11%;
    width: 64%;
    font-size: 3.2vh;
}
.startDate,.endDate{
    padding: 1%;
    color: #00B1FF;
}
.starsContainer{
    position: absolute;
    width: 51vh;
    top: 32%;
    left: 13%;
}
.packageDescription{
    font-weight: 300;
    width: 90%;
    height: 35%;
    top: 61%;
    font-size: 3.5vh;
    background-color: transparent;
    overflow-y: auto;
    overflow-x: none;
    padding: 0 5%;
    left: 4%;
}
.packageDescription::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
} 
.packageDescription::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.3);
    border-radius: 25px;
}
.addToCart{
    position: absolute;
    top: 75%;
    left: 8%;
    width: 58px;
    height: 48px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.8);
    color: white;
    cursor: pointer;
}
.addToCart:hover{
    border-radius: 10px;
    color: black;
    background-color: rgba(255,255,255,0.8);
}
/* *************************************************************************************************** */




/* *************************************************************************************************** */
/* DEALS PAGE STYLING */
main.dealsContent{
    padding-top: 1vh;
    padding-bottom: 0;
    height: 150vh;
    background-color: rgb(204, 194, 194);
    position: relative;
    color: white;
}

header.dealsHeader{
    top: 0;
    left: 0;
    position: relative;
    width: 100%;
    height: 30vh;
    background-color: black;
    color: white;
}
h1.dealsTitle{
    font-family: 'Segoe UI';
    font-size: 5vh;
    font-weight: 300;
    position: absolute;
    left: 5%;
    top: 2%;
    color: black;  
}

.packagesDisplayWrapper{
    position: relative;
    margin: 15vh auto 5vh auto;
    width: 95vw;
    height: 110vh;
    padding-left: 2.5%;
    overflow: auto;
}

form.packageItem{
    margin: 2% 1% 2% 1%;
    display: inline-flex;
    font-family: 'Segoe UI';
    width: 30%;
    height: 88%;
    background-color: white;
    position: relative;
    border-radius: 15px;
    border: 1px solid rgba(0,0,0,0.7); 
}
.packagesDisplayWrapper::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}
.packagesDisplayWrapper::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.973);
    border-radius: 25px;
} 
div.packageImage{
    z-index: 0;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 50%;
    position: absolute;
    top: 0;
    left:0;
    background-size: cover;
    background-position: center;
}
div.packageTag{
    width: 35%;
    height: 45%;
    position: absolute;
    left: 55%;
    top: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgb(82, 0, 0) 33%33%, rgb(192, 2, 2) 63%, rgba(255, 0, 0, 0.7) 100%);
    clip-path: polygon(0 0, 100% 0, 100% 66%, 50% 100%, 1% 66%);
}
p.costTag, .tagPer{
    font-size: 2.5vh;
    font-weight: 300;
    color: white;
    position: absolute;
}
p.costTag{
    text-align: center;
    top: 19%;
    width: 100%;
}
.pkgCost{
    color: rgb(0, 255, 128);
    font-size: 180%;
    font-weight: 700;
}
.tagPer{
    left: 30%;
    top: 40%;
}
h1.pkgTitle{
    position: absolute;
    font-weight: 500;
    color: black;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 3.6vh;
}
.pkgSubDesc{
    font-size: 2.5vh;
    font-weight: 200;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 56%;
    color: black;
}
.pkgDesc{
    font-size: 2.7vh;
    font-weight: 400;
    position: absolute;
    left: 3%;
    width: 94%;
    height: 23%;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.1);
    overflow: auto;
    top: 75%;
    text-align: left;
    padding: 5%;
    color: black;

}
.pkgDesc::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
} 
.pkgDesc::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.3);
    border-radius: 25px;
}
.pkgEndDate{
    position: absolute;
    color: white;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.815);
    font-size: 2.5vh;
    left: 3%;
    top: 88%;
    padding-left: 5%;
    border-radius: 25px;
    text-shadow: 0px 0px 1px rgb(255, 255, 255);
}
.pkgStarsContainer{
    position: absolute;
    z-index: 2;
    background-color: rgba(0,0,0,0.4);
    border-radius: 15px;
    padding-left: 5px;
    left: 9%;
    top: 5%;
    width: 26.4vh;
}
.pkgStar{    
    display: inline-block;
    padding-right: 2px;
}
a.allReview{
    position: absolute;
    color: red;
    text-decoration:none;
    font-size: 2vh;
    left: 15%;
    top: 15%;
}
a.allReview:hover{
    color: white;
    text-shadow: 0px 0px 6px black;
}
input.add2CartBttn{
    position: absolute;
    border-radius: 18px;
    padding: 1% 5%;
    font-size: 3vh;
    background-color: #FDB931;
    color: black;
    border: none;
    font-weight: 300;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 66%;
    cursor: pointer;
}
input.add2CartBttn:hover{
    color: white;
    border: 1px groove goldenrod;
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}
/**************************************************/
/* Header Deals Page styling */
.filter{
    width: auto;
    height: 8vh;
    margin: 1vh 5vh;
    text-align: right;
    display: inline-block;
    font-family: 'Segoe UI';
    font-weight: 300;
}
.filterContainer{
    position: absolute;
    top: 15vh;
    left: 5vw;    
}
.selectionTitle:hover{
    color:red;
    cursor: pointer;
}
.selection{
    font-weight: 500;
}
button.moreFilter{
    background-color: transparent;
    border: none;
    font-weight: 500;
    font-family: 'Segoe UI';
    position: absolute;
    font-size: 5vh;
    top: 17vh;
    left: 80%;
    color: white;
    cursor: pointer;
}
button.moreFilter:hover{
    color: rgb(37, 189, 209);
}


/* ************************* */
/* Search Icon */
.searchWrapper {
    position: absolute;
    top: 0;
    left: 68vw;
    width: 29vw;
    height: 12vh;
    z-index: 0;
    transition: all 2s;
}

.searchIcon {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 9vh;
    height: 9vh;
    background: rgb(255, 246, 224);
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.6);
}
.searchIcon:hover {
    cursor: grabbing;
    background: rgb(255, 255, 255);
    opacity: 1;

}
.searchIcon::before {
    content: "";
    position: absolute;
    margin: auto;
    top: calc(0.22*12vh);
    right: 0;
    bottom: 0;
    left: calc(0.22*12vh);
    width: calc(0.12*12vh);
    height: calc(0.02*12vh);
    background: black;
    transform: rotate(45deg);
    transition: all .5s;
}
.searchIcon::after {
    content: "";
    position: absolute;
    margin: auto;
    top: calc(-0.05*12vh);
    right: 0;
    bottom: 0;
    left: calc(-0.05*12vh);
    width: calc(0.25*12vh);
    height: calc(0.25*12vh);
    border-radius: 50%;
    border: 2px solid black;
    transition: all .5s;
}
input.searchCom {
    font-family: monospace;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: calc(0.5*12vh);
    height: calc(0.5*12vh);
    outline: none;
    border: none;
    background: rgb(255, 246, 224);
    color: black;
    text-shadow: 0 0 10px black;
    padding: 0 calc(0.8*12vh) 0 calc(0.2*12vh);
    border-radius: 30px;
    box-shadow: 0 0 25px 0 rgb(255, 246, 224), 0 40px 35px 0 rgba(0, 0, 0, 0.01);
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
}
input.searchCom:hover {
    cursor: grabbing;
}
input.searchCom:focus {
    width: 100%;
    opacity: 1;
    cursor: text;
}
input.searchCom:focus ~ .searchIcon {
    width: calc(0.5*12vh);
    height: calc(0.5*12vh);
    border-radius: 0px 50% 50% 0px;
    right: calc(-270/300*29vw);
    background: rgba(0,0,0,0.7);
    z-index: 6;
}
input.searchCom:focus ~ .searchIcon:hover{
    background-color: rgba(0,0,0,0.9);
}

input.searchCom:focus ~ .searchIcon:hover::before {
    top: 0;
    left: 0;
    width: calc(0.32*12vh);
    height: calc(0.05*12vh);
    border-radius: 50px;
}
input.searchCom:focus ~ .searchIcon:hover::after {
    top: 0;
    left: 0;
    width: calc(0.32*12vh);
    height: calc(0.02*12vh);
    border-radius: 50px;
}
        
input.searchCom:focus ~ .searchIcon::before {
    background: white;
    top: 0;
    left: 0;
    width: calc(0.25*12vh);
    border-radius: 50px;
}
input.searchCom:focus ~ .searchIcon::after {
    top: 0;
    left: 0;
    width: calc(0.25*12vh);
    height: calc(0.04*12vh);
    border: none;
    border-radius: 50px;
    background: white;
    transform: rotate(-45deg);
}
input.searchCom:focus ~ .searchIcon::placeholder {
    color: black;
    opacity: 0.5;
    font-weight: 300;
    font-size: 120%;
}







/* ***************************************************************************************************** */
/* STYLING CONTACT PAGE */
div.mainContact{
    width: 100%;
    height: auto;
    padding-top: 14vh;
    background-color: rgb(204, 194, 194);
}
h1.contactTitle{
    font-family: 'Segoe UI';
    font-size: 10vh;
    font-weight: 700;
    left: 5%;
    top: 2%;
    margin: 4vh 0 0 10vw;  
    color: black;
}
div.positionPic{
    width: 35vw;
    position: relative;
    width: 30vw;
    height: 30vh;
    float: right;
    margin-right: 5vw;
}

div.agencyPic{
    background-size: cover;
    background-position: center;
    width: 30vw;
    height: 30vh;
    border-radius: 15px;
    position: absolute;
}
div.whiteBox{
    background-color: white;
    width:30vh;
    height: 30vh;
    border-radius: 10% 0 10% 50%;
    position: absolute;
    top: -10%;
    left: 58%;
}
h1.cityTitle{
    position: absolute;
    font-size: 9vh;
    transform: translate(-50%,-50%);
    top: 90%;
    left: 50%;
    text-shadow: 1px 6px 14px #000000;
    color: white;
}
div.AgencyContent{
    width: 100%;
    height: 50vh;
    margin: 15vh 0 5vh 0;
    position: relative;
    color: black;
}
div.address{
    position: absolute;
    font-weight: 700;
    font-size: 5vh;
    top: 70%;
    left: 68%;
    color: black;
}
h1.ourAgents{
    position: relative;
    font-size: 8vh;
    margin-left: 5vw;
    text-shadow: 1px 6px 14px #c5c1c1; 
}
table.agentsTable{
    font-size: 4vh;
    position: absolute;
    left: 8%;
    top: 25%;
    color: black;
}
tr.rowAgent{
    padding: 20px 0;
}
/* ***************************************************************************************************** */
/* ************************************************************************************************************************ */
/* Order Page Styling with items*/
main.orderContent{
    width: 100%;
    height: 150vh;
    background-color: white;
}
header.order{
    height: 21vh;
    width: 100%;
    background-color: black;
    color: white;
    font-family: 'Segoe UI';
}
h1.headerOrderTitle{
    position: absolute;
    font-family: 'Segoe UI';
    font-weight: 300;
    font-size: 4vh;
    top: 14.6vh;
    left: 23vh;
}
/* Display Selections inside Shopping Cart */
div.displayCartSelections{
    font-family: 'Segoe UI';
    position: relative;
    top: 8%;
    left: 2%;
    width: 89vh;
    height: 50vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
div.displayCartSelections::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
} 
div.displayCartSelections::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.3);
    border-radius: 25px;
}
form.itemInCart{
    position: relative;
    width: 100%;
    height: 30%;
    margin: 3% 1%;
    background-color: black;
    color: white;
    border-radius: 5px;
}
.cartItemSection{
    display: inline-block;
}
.itemImg{
    width: 35%;
    height: 100%;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.itemInfo{
    position: relative;
    width: 50%;
    height: 100%;
}
.selPkgTitle,.selPkgCost,.selPkgQuanity{
    position: absolute;
}
.selPkgTitle{
    width: 100%;
    top: 9%;
    text-align:left;
    font-size: 60%;
    font-weight: 600;
    text-transform: capitalize;
}
.selPkgCost{
    width: 100%;
    text-align: left;
    font-size: 65%;
    font-weight: 600;
    top: 38%;
}
.selPkgQuanity{
    width: 100%;
    text-align: left;
    font-size: 65%;
    font-weight: 600;
    top: 68%;
}
input.remvItemBttn{
    position: absolute;
    color:red;
    text-transform: capitalize;
    font-size: 45%;
    font-weight: 200;
    background-color: transparent;
    border: none;
    left: 76%;
    top: 46%;
    cursor: pointer;
}

div.wrapper{
    position: absolute;
    left: 28%;
    padding: 20px;
    border: 5px solid black;
}

.label{
    float: left;
}

.input-box{
    position: relative;
    float: right;
    margin-right: 50px;
}

.descToCntrl{
    padding: 15px;
    margin-left: 20px;
}
img.orderButton{
    cursor: pointer;
}
/* NO ITEM IN CART */
main.orderEmptyCart{
    padding: 9vh 0;
    width: 100%;
    height: auto;
    background-color: #CECDCD;
    color: black;
}
div.boxDisplay{
    position: relative;
    left: 10vw;
    width: 80vw;
    height: 65vh;
    background-color: white;
    border-radius: 25px;
}
.imageCart{
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-50%);
    opacity: 0.4;
}
h1.noneCartTitle{
    position: relative;
    font-family: 'Segoe UI';
    font-weight: 200;
    font-size: 5vh;
    left: 10%;
    width: 20%;
}
div.noItemMessage{
    position: absolute;
    font-family: 'Segoe UI';
    font-size: 4.5vh;
    width: 100%;
    top: 55%;
    text-align: center;
}
a.toHome{
    position: absolute;
    width: auto;
    text-align: center;
    background-color: black;
    color: white;
    padding: 1%;
    text-decoration: none;
    border-radius: 15px;
    border: 2px solid green;
    left: 32%;
    top: 74%;
}
a.toDeals{
    position: absolute;
    width: auto;
    text-align: center;
    background-color: black;
    color: white;
    padding: 1% 3%;
    text-decoration: none;
    border-radius: 15px;
    border: 2px solid rgb(0, 92, 128);
    left: 55%;
    top: 74%;
}
a.toDeals:hover,a.toHome:hover{
    color: rgb(226, 248, 100);
}
/* *********************************************************************************************************************************** */

