/***************************************************************************
// Authors:  Stuart Peters, Hoang (Eric) Truong, Linda Wallace
// Date:    February 15, 2019
// Purpose:  
//
// Requirements:
// 
//************************************************************************* */


/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
    margin:0;
    padding: 0;
}


/* FOR TESTING */
body{
    background-color: black;
}
body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.973);
    border-radius: 25px;
    border: 2px solid white;
}
body::-webkit-scrollbar {
    width: 13px;
    background-color: #F5F5F5;
} 
.content{
    width: 100%;
    height: 88vh;
    background-color: blue;
    margin: 5vh 0px;
    position: relative;
}
.content:nth-child(2n){
    background-color: green;
}
/* FOR TESTING */



/* ********************************************************************************* */
/* Styling Navigation bar section */
nav {  
    /* Nav bar will always cover view width */
    width: 100%;
    /* Nav bar max width for large screen*/
    max-width: 2054px;
    /* If change bar height you will need to change relative height of all items within */
    height: 13vh;
    background-color: rgba(255,255,255,0.96);
    /* Set position relative as to position inner items freely contained within */
    position: fixed;
    z-index: 4;
    transition: all 2s linear;
}
.navItem{
    /* set all display items horizontal and position freely within bar */
    display: inline-block;
    position: absolute;
}
.shoppingCartLogoContainer{
    left: 90%;   
    top: 2.3vh; /*If change bar height this needs change*/
}

.aboutLink, .contactLink, .dealsLink{
    font-family: "Segoe UI";
    font-size: 4vh; 
    text-decoration: none;
    color: black;
    font-weight: 600;
    text-align: center;
}
.aboutLink:hover, .contactLink:hover, .dealsLink:hover{
    text-decoration: underline;
}
.aboutLink{
    top: 20%;
    /* position item for proportional display */
    left:calc(252/2054*100vw);
}
.contactLink{
    top: 20%;
    /* position item for proportional display */
    left:calc(464/2054*100vw);
}
.dealsLink{
    top: 20%;
    /* position item for proportional display */
    left:calc(689/2054*100vw);
}
.brandLogo{
    background-image: url("../img/brandLogo/travelExpertLogo.png");
    background-size: cover;
    background-position: center;
    width: 12vw;
    height: 12vh;
    left: 47%;
    top: 6%;  /*Needs edit if bar height change*/
}
.brandLogo:hover,.signInButton:hover,.shoppingCartLogoContainer:hover,#barBox:hover{ /*Mouse Over the logo will be cursor*/
    cursor: pointer;
}
.signInButton{
    font-family: "Segoe UI Symbol";
    font-weight: 700;
    font-size: 4vh;
    text-align: center;
    color: white;
    background-color: black;
    border: none;
    border-radius: 8px;
    height: 8vh;
    width: 9vw;
    padding-bottom: 6px;
    padding-top: 0px;
    left: 70%;
    top: 16%;
}
/*Styling for Icon for more*/
.leftIconMore{
    position: fixed;
    width: 12vh;
    height: 12vh;
    left: 2%;
    z-index: 5;
    transition: all 0.8s linear;
}
/* inner box that contains the horizontal bars */
#barBox{
top: 50%;
left: 50%;
transform: translate(-50%,-60%);
position: relative;
/* change width the bars will stretch */
width: calc(75/160*100%);
/* change height the bars will space out */
height: calc(50/160*100%);
background-color: transparent;
transition: all 0.2s linear;
}
#bar1,#bar2,#bar3{
position: absolute;
width: 100%;
height: calc(9/50*100%);
background-color: black;  
border-radius: 1px;
}
#bar1{
top: 0%;
}
#bar2{
top: calc(20/50*100%);
}
#bar3{
bottom: 0%;
}

/* ***************************Nav Styling Ends****************************************** */




/* ***************************************************************************************** */
/* HEADER HOME styling */
.homeHeader{
    position: relative;
    width: 100%;
    height: 100vh;
}
.exploreImage{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.videoOverlay{
    position: absolute;
    opacity: 0.5;
    background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(0,0,0,1) 0%, rgba(89,89,89,1) 0%, rgba(75, 11, 27, 0.747) 0%, rgba(3,3,3,0.52) 69%, rgba(28,28,28,0.36) 91%, rgba(19,19,19,0.3) 100%);
}
.defaultImage{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('../img/homeExplore/dawnMountain.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
video.homeHeaderVideo{
    object-fit: fill;
    left: 0; 
    position: absolute;  
    width: 100% ; 
    height: auto;
}
.exploreImage h1,.exploreImage p{
    font-family:"Segoe UI";
    position: absolute;
    color: white;
    text-shadow: 2px 2px 5px #000000;
    left: 15%;
    z-index: 2;
}
.exploreImage h1{
    font-size: 9vh;
    top: 35%;
}
.exploreImage p{
    font-size: 4vh;
    width: 60vw;
    top: 55%;
}
.slidebtn {
	z-index:4;
	background:transparent;
	outline:none;
	border:none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	padding:0 10px 0 10px;
}

.slidebtn:active,
.slidedtn:focus {
    outline:none;
}
	
.slidebtn i {
	color:#FFF;
	font-size:10vh;
	opacity: 0.2;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;

}
.slidebtn i:hover,.slider-dots:hover{
    opacity: 1;
}
.prev {
    position: absolute; 
    top: 10px; 
    left: 10px; 
    bottom: 10px;
}
.next {
    position: absolute; 
    top: 10px; 
    right: 10px; 
    bottom: 10px;
}
.slider-dots {
	opacity: 0.2;
  list-style: none;
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
  position:absolute;
  left:50%;
  bottom:3%;
  transform: translate(-50%, 0);
  z-index:99;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.slider-dots li {
  color: #000;
  display: inline;
  font-size: 7vh;
  margin-right: 5px;
  cursor:pointer;
}
.slider-dots li.active-dot {
  color: #fff;
}
/* **********************************Header Home Styling Ends*************************************** */




/* ***************************************************************************************** */
/* FOOTER styling */
footer{
    position: relative;
    bottom: 0;
    margin: 0;
    left: 0;
    height: 25vh;
    width: 100%;
    background-color: black;
    color: white;
    font-family: "Segoe UI";
}
p.copyright,div.brandSocialMedia,p.footNumber,a.emailFooter{
    position: absolute;
}
p.copyright,a.emailFooter,p.footNumber{
    font-size: 3vh;
}
p.copyright{
    text-transform: capitalize;
    left: 9%;
    top: 36%;
}
div.socIcon{
    display: inline-block;
    margin: 3px;
    cursor: pointer;
}
div.brandSocialMedia{
    left: 70%;
    top: 23%;
}
a.emailFooter{
    text-decoration: none;
    color: white;
    left: 67%;
    top: 49%;
}
/* **********************************FooterStyling Ends*************************************** */


/* ************************************************************************************************* */
/* MAIN CONTENT STYLING */
main{
    position: relative;
}

/* ---------------------------------------- HOME STYLING -------------------------------*/
.homeContent{
    padding-top: 35vh;
}
.homeHotDeals{
    font-family: 'Segoe UI';
    font-size: 8vh;
    color: white;
    position: absolute;
    left: 5%;
    top: 5%;
    text-shadow: -2px 1px 2px rgba(255, 255, 255, 0.64);
}
.hotDealBg{
    background-size: cover;
    background-position: center;
}
.priceTag{
    width: 12%;
    height: 32%;
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(104,3,26,1) 33%, rgba(253, 8, 8, 0.7) 100%);
    clip-path: polygon(0 0, 100% 0, 100% 66%, 50% 100%, 1% 66%);
    box-shadow: 14px 14px 20px 7px rgba(0,0,0,0.87);   
    left: 5%;
    position: relative; 
}
.cost{
    font-family:"Segoe UI",Frutiger;
    color: white;
    font-size: 90%;
    position: absolute;
}
.oldPrice{
    font-size: 170%;
}
.newPrice{
    font-size: 230%;
}
.oldCost{
    left: 38%;
    top: 13%;
    color: rgb(151, 151, 151);
}
.saleCost{
    left: 15%;;
    top: 29%;
    color: rgb(49, 252, 49);
}
.perPerson{
    font-size: 60%;
    left: 42%;;
    top: 59%;
}

/* Text Messages display */
.whiteText{
    color: white;
}
.textBoard{
    width: 70%;
    height: 76%;
    background-color: rgba(0,0,0,0.85);
    border-radius: 15px;
    left: 23%;
    top: 15%;
    position: absolute;
}
.packageDescription, .packageTimeframe, .review, .subDescription, .salePackageTitle{
    font-family:"Segoe UI",Frutiger;
    position: absolute;
    left: 9%;
    text-shadow: 4px 4px 5px #000000;
}
.salePackageTitle{
    font-weight: 600;
    font-size: 300%;
    top: 3%;
}
.subDescription{
    font-weight: 300;
    font-size: 130%;
    top: 20%;
    left: 11%;
}
.star{
    display: inline-block;
    margin-right: 1%;
}
.reviews{
    position: absolute;
    font-family:"Segoe UI",Frutiger;
    text-decoration: none;
    font-weight: 300;
    font-size: 165%;
    color: #37C197;
    top: 32%;
    left: 37%;
}
.reviews:hover{
    color: rgb(0, 255, 179);
}
.packageTimeframe{
    top: 46%;
    left: 11%;
    width: 64%;
    font-size: 150%;
}
.startDate,.endDate{
    padding: 1%;
    color: #00B1FF;
}
.starsContainer{
    position: absolute;
    width: 27%;
    top: 32%;
    left: 13%;
}
.packageDescription{
    font-weight: 300;
    width: 90%;
    height: 35%;
    top: 61%;
    font-size: 150%;
    background-color: transparent;
    overflow-y: auto;
    overflow-x: none;
    padding: 0 5%;
    left: 4%;
}
.packageDescription::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
} 
.packageDescription::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.3);
    border-radius: 25px;
}
.addToCart{
    position: absolute;
    top: 75%;
    left: 8%;
    width: 58px;
    height: 48px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.8);
    color: white;
    cursor: pointer;
}
.addToCart:hover{
    border-radius: 10px;
    color: black;
    background-color: rgba(255,255,255,0.8);
}
/* *************************************************************************************************** */




/* *************************************************************************************************** */
/* DEALS PAGE STYLING */
main.dealsContent{
    padding-top: 1vh;
    padding-bottom: 0;
    height: 150vh;
    background-color: rgb(105, 105, 105);
    position: relative;
}

header.dealsHeader{
    top: 0;
    left: 0;
    position: relative;
    width: 100%;
    height: 30vh;
    background-color: black;
    color: white;
}
h1.dealsTitle{
    font-family: 'Segoe UI';
    font-size: 5vh;
    font-weight: 300;
    position: absolute;
    left: 5%;
    top: 2%;  
}

.packagesDisplayWrapper{
    position: relative;
    margin: 15vh auto 5vh auto;
    width: 95vw;
    height: 110vh;
    padding-left: 2.5%;
    overflow: auto;
}

div.packageItem{
    margin: 2% 1% 2% 1%;
    display: inline-flex;
    font-family: 'Segoe UI';
    width: 30%;
    height: 88%;
    background-color: white;
    position: relative;
    border-radius: 15px;
    border: 1px solid rgba(0,0,0,0.7); 
}
.packagesDisplayWrapper::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}
.packagesDisplayWrapper::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.973);
    border-radius: 25px;
} 
div.packageImage{
    z-index: 0;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 50%;
    position: absolute;
    top: 0;
    left:0;
    background-size: cover;
    background-position: center;
}
div.packageTag{
    width: 35%;
    height: 45%;
    position: absolute;
    left: 55%;
    top: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgb(82, 0, 0) 33%33%, rgb(192, 2, 2) 63%, rgba(255, 0, 0, 0.7) 100%);
    clip-path: polygon(0 0, 100% 0, 100% 66%, 50% 100%, 1% 66%);
}
p.costTag, .tagPer{
    font-size: 90%;
    font-weight: 300;
    color: white;
    position: absolute;
}
p.costTag{
    text-align: center;
    top: 19%;
    width: 100%;
}
.pkgCost{
    color: rgb(0, 255, 128);
    font-size: 180%;
    font-weight: 700;
}
.tagPer{
    left: 30%;
    top: 40%;
}
h1.pkgTitle{
    position: absolute;
    font-weight: 500;
    color: black;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 160%;
}
.pkgSubDesc{
    font-size: 75%;
    font-weight: 200;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 56%;
}
.pkgDesc{
    font-size: 85%;
    font-weight: 400;
    position: absolute;
    left: 3%;
    width: 94%;
    height: 23%;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.1);
    overflow: auto;
    top: 75%;
    text-align: left;
    padding: 5%;

}
.pkgDesc::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
} 
.pkgDesc::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.3);
    border-radius: 25px;
}
.pkgEndDate{
    position: absolute;
    color: white;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.815);
    font-size: 100%;
    left: 3%;
    top: 88%;
    padding-left: 5%;
    border-radius: 25px;
    text-shadow: 0px 0px 1px rgb(255, 255, 255);
}
.pkgStarsContainer{
    position: absolute;
    z-index: 2;
    background-color: rgba(0,0,0,0.4);
    border-radius: 15px;
    padding-left: 5px;
    left: 9%;
    top: 5%;
    width: 130px;
}
.pkgStar{    
    display: inline-block;
    padding-right: 2px;
}
a.allReview{
    position: absolute;
    color: red;
    text-decoration:none;
    font-size: 67%;
    left: 10%;
    top: 12%;
}
a.allReview:hover{
    color: white;
    text-shadow: 0px 0px 6px black;
    font-size: 75%;
}
button.add2CartBttn{
    position: absolute;
    border-radius: 18px;
    padding: 1% 5%;
    font-size: 130%;
    background-color: rgba(56,199,201,1);
    color: black;
    border: none;
    font-weight: 300;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 66%;
    cursor: pointer;
}
button.add2CartBttn:hover{
    color: white;
    border: 1px groove rgb(56, 148, 155);
    background: linear-gradient(to bottom, rgba(51,252,255,1) 0%, rgba(15,183,189,1) 18%, rgba(41,152,158,1) 33%, rgba(31,131,133,1) 40%, rgba(27,119,122,1) 47%, rgba(26,120,125,1) 53%, rgba(32,125,128,1) 60%, rgba(16,158,163,1) 79%, rgba(56,199,201,1) 95%, rgba(56,199,201,1) 100%);
}